<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<html>
  <body>
    {%for b in book %}
      {{b}}
    {% endfor %}
    khafe shoooooooo {{myuser}}
    annnnn {{haha}}
    <!-- Section: Author Box -->
<section class="my-5">

  <!-- Card header -->
  <div class="card-header border-0 font-weight-bold d-flex justify-content-between">
    <p class="mr-4 mb-0">{{labels[0]}} : {{book[0]}}</p>
    <ul class="list-unstyled list-inline mb-0">
      <li class="list-inline-item"><a href="" class="mr-3"><i class="fas fa-envelope mr-1"></i>Send message</a></li>
      <li class="list-inline-item"><a href="" class="mr-3"><i class="fas fa-user mr-1"></i>See profile</a></li>
      <li class="list-inline-item"><a href="" class="mr-3"><i class="fas fa-rss mr-1"></i>Follow</a></li>
    </ul>
  </div>

  <div class="media mt-4 px-1">
    <img class="card-img-100 d-flex z-depth-1 mr-3" src="https://images.pexels.com/photos/34592/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&w=500"
      alt="Generic placeholder image" width="200" height="200">
    <div class="media-body">
      <h5 class="font-weight-bold mt-0">
        <a href="">{{book[1]}} </a>
      </h5>
      <h6> {{labels[1]}} : {{book[2]}} </h6>
      <h6> {{labels[3]}} : {{book[3]}} </h6>
    </div>
  </div>

</section>
<!-- <div class="d-inline-flex p-2">I'm an inline flexbox container!</div> -->

<!-- comments bar -->
{% for comment in comments %}
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{comment[0]}}</h5>
    <p class="card-text">{{comment[1]}}</p>
  </div>
</div>
{% endfor %}

<!-- textbox for rating -->
    <form action="{{url_for('submit_rating',isbn_number_of_the_book=book[0])}}" method="post">
      <div class="form-group" >
        <label for="exampleFormControlTextarea2">{{avg_star}}</label>
        <textarea class="form-control rounded-0" name= "star" id="exampleFormControlTextarea2" rows="3" width="200" height="200"></textarea>
      </div>

      <!-- textbox for comments -->
      <style>
          .shadow-textarea textarea.form-control::placeholder {
          font-weight: 300;
            }
          .shadow-textarea textarea.form-control {
              padding-left: 0.8rem;
            }
      </style>
      <div class="form-group shadow-textarea">
        <label for="exampleFormControlTextarea6">write your opinion about this book</label>
        <textarea class="form-control z-depth-1" name="comment" id="exampleFormControlTextarea6" rows="3" placeholder="Write something here..."></textarea>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>

  </body>
</html>
