<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<html>
    <head>
        <title>My Webpage</title>
        <body>
          <ul>
            {% for user in users %}
                <li>{{user}}</li>
            {% endfor %}
          </ul>
        </body>
    </head>

    <!-- Search form -->
    <form action ="{{url_for('search_results')}}" method="post">
      <input class="form-control" type="text" name="search" placeholder="Search" aria-label="Search">
    </form>
</html>
